{
	"TMI":{
		"debug":{boolean},
		"reconnect":{boolean},
		"secure":{boolean},
		"username":"bucanerobot",
		"oauth":"oauth:generatedCode",
		"channels": [ "#TwitchChannel" ]
	},
	"TwitchAPI":{	
		"channel": "TwitchChannel",
		"AppClientID":"Twitch_APP_CLIENT_ID"
	},

	"Greet":{
		"daysBeforeIgnore":{number}
	}
}