{
	"debug":true,
	"reconnect":true,
	"secure":true,
	"username":"bucanerobot",
	"oauth":"oauth:generatedCode",
	"channels": [ "#TwitchChannel" ],
	"channel": "TwitchChannel",
	"AppClientID":"Twitch_APP_CLIENT_ID"
}